.home {
    text-align: center;
    background: url('/images/image.jpg') no-repeat;
    background-size: cover;
    height: 600px;
    width: 1250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    position: absolute;
    top: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: rgba(104, 84, 221, 0.7);
  }
  .navbar h1 {
    margin: 1px;
  }
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 7px;
  }
  .navbar a:hover {
    text-decoration: underline;
  }
  .welcome {
    text-align: center;
  }